<header class="header-7">
  <div class="branding">
    <a href="..." class="nav-link">
      <clr-icon shape="vm-bug"></clr-icon>
      <span class="title">Micro Frontend Example</span>
    </a>
  </div>
  <div class="header-nav">
    <a
      routerLink="/mfe01"
      [ngClass]="{ active: activeTab === '/mfe01' }"
      class="nav-link nav-text"
      >Library</a
    >
    <a
      routerLink="/mfe02/home"
      [ngClass]="{ active: activeTab === '/mfe02/home' }"
      class="nav-link nav-text"
      >MFE Library</a
    >
    <a
      routerLink="/remote01/users"
      [ngClass]="{ active: activeTab === '/remote01/users' }"
      class="nav-link nav-text"
      >MFE Clarity App</a
    >
    <a
      routerLink="/remote02/dashboard"
      [ngClass]="{ active: activeTab === '/remote02/dashboard' }"
      class="nav-link nav-text"
      >MFE Material App</a
    >
    <a
      routerLink="remote03"
      [ngClass]="{ active: activeTab === 'remote03' }"
      class="nav-link nav-text"
      >MFE Webcomponent App</a
    >
    <a
      routerLink="angular3"
      [ngClass]="{ active: activeTab === 'angular3' }"
      class="nav-link nav-text"
      >Remote Angular 3</a
    >
    <a
      routerLink="/react"
      [ngClass]="{ active: activeTab === '/react' }"
      class="nav-link nav-text"
      >Remote React App</a
    >
  </div>
</header>
<div class="main-container">
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
